---
name: Test
run-name: 'Test on "${{ github.event.pull_request.title }}" by ${{ github.actor }}'

permissions:
  contents: read
  packages: read
  pull-requests: write

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  init__node:
    name: 'Initialize: node'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/init-node

  test__code_spec:
    name: 'Test: Code Specifigation'
    runs-on: ubuntu-latest
    needs:
      - init__node
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/init-node
      - run: yarn test

  test__typecheck__enclosure_vue:
    name: 'Test: [package/enclosure-vue] TypeCheck'
    runs-on: ubuntu-latest
    needs:
      - init__node
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/init-node
      - run: yarn typecheck
        working-directory: packages/enclosure-vue

  test__typecheck__insider_vue:
    name: 'Test: [package/insider-vue] TypeCheck'
    runs-on: ubuntu-latest
    needs:
      - init__node
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/init-node
      - run: yarn typecheck
        working-directory: packages/insider-vue

  test__typecheck__example_enclosure_vue_3:
    name: 'Test: [example/enclosure-vue3] TypeCheck'
    runs-on: ubuntu-latest
    needs:
      - init__node
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/init-node
      - run: yarn typecheck
        working-directory: ./examples/enclosure-vue3

  test__typecheck__example_enclosure_vue_2_7:
    name: 'Test: [example/enclosure-vue2.7] TypeCheck'
    runs-on: ubuntu-latest
    needs:
      - init__node
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/init-node
      - run: yarn typecheck
        working-directory: ./examples/enclosure-vue2.7

  test__typecheck__example_enclosure_vue_2:
    name: 'Test: [example/enclosure-vue2] TypeCheck'
    runs-on: ubuntu-latest
    needs:
      - init__node
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/init-node
      - run: yarn typecheck
        working-directory: ./examples/enclosure-vue2

  test__typecheck__example_insider_vue_3:
    name: 'Test: [example/insider-vue3] TypeCheck'
    runs-on: ubuntu-latest
    needs:
      - init__node
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/init-node
      - run: yarn typecheck
        working-directory: ./examples/insider-vue3

  test__typecheck__example_insider_vue_2_7:
    name: 'Test: [example/insider-vue2.7] TypeCheck'
    runs-on: ubuntu-latest
    needs:
      - init__node
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/init-node
      - run: yarn typecheck
        working-directory: ./examples/insider-vue2.7

  test__typecheck__example_insider_vue_2:
    name: 'Test: [example/insider-vue2] TypeCheck'
    runs-on: ubuntu-latest
    needs:
      - init__node
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/init-node
      - run: yarn typecheck
        working-directory: ./examples/insider-vue2
